
/* COLOR PALETTE */
/* Gray: #2b2b2b */
/* White smoke: #efefef */
/* White: #ffffff */
/* Steel blue: #2a759c */
/* Dark gray: #424242 */


/* FONT STYLES */
/* font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Stint Ultra Condensed', cursive; */


/* WHOLE BODY SECTION */
body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}

/* HEADER VIEW DISPLAY */
.header-section{
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b
}

.admin-user{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  color: #2a759c;
  margin-right: 10%;
}

.user-icon {
  margin: 1%;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #efefef;
  width: 80%;
}

/* Navigation Bar */
nav {
  display: flex;
  align-content: center;
}

.shares-section {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20%;
}

.share-icon {
  margin-right: 20%;
}

.playlist-section {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20%;
}

.playlist-icon {
  margin-right: 20%;
}

.scores-section {
  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 20%;
}

.score-icon {
  margin-right: 20%;
}

/* SHARES VIEW DISPLAY */
main {
  background-color: #efefef;
}

h2 {
  font-family: 'Stint Ultra Condensed';
  color: #424242;
  font-size: 450%;
  padding : 2% 1% 0% 2%;
  margin: 0%;
}

/* CARD DISPALY VIEW */
.cards-wrapper {
  padding: 1%;
}

.card-display {
  background-color: #ffffff;
  cursor: zoom-in;
  font-family: 'Lora', serif;
}

.card-img {
  height: 25%;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  width: 90%;
}

.name-date-info {
  margin: 5%;
}

.playlist-name {
  margin: 5%;
}

.url-addres {
  display: flex;
  align-items: center;
  background-color: #efefef;
  width: 90%;
  height: 35px;
  margin: auto;
  paddin: 5%;
}

.followers {
  margin: 5%;
}

.followers-num {
  margin: 5%;
  color: #2a759c;
  font-size: 200%;
}

/* HOVER */
.card-display:hover {
  background-color:  #F2F2F3;
  box-shadow: 7px 5px 3px 1px #26222d;
  margin: 5%;
  opacity: 0.9;
  width: 95%;
}


/* MEDIA QUERIES */
/* 1025px and higher desktops */
@media (min-width: 1025px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5%;
  }
}

/* 768px - 1024px | Tablets (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5%;
  }
}

/* 481px to 767px | Large Phones/Small Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

/* 320px to 480px | Small Phones */
@media  (min-width: 320px) and (max-width: 480px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
