
/* COLOR PALETTE */
/* Gray: #2b2b2b */
/* White smoke: #efefef */
/* White: #ffffff */
/* Steel blue: #2a759c */
/* Dark gray: #424242 */


/*
.cookpot-logo {
  width: 10px;
  height: 10px;
  position:relative;
  padding: 50px 50px 50px 50px;
} */

/* WHOLE BODY SECTION */
body {
  margin: 0%;
}

/* HEADER VIEW DISPLAY */
.header-section{
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  background-color: #2b2b2b
}

.admin-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #2a759c;
  padding: 2%;
}

.nav-bar {
  display: flex;
    /* border: 1px solid yellow; */
    flex-direction: row;
    align-items: center;
}



.nav-bar-comp-logo {
  /* border: 1px solid yellow; */
  display: flex;
  align-content: space-between;
  color: #efefef;
  width: 80%;
}

.logo-comp {
    padding-right: 2%;
}

nav {
  display: flex;
  align-content: space-between;
  padding-left: 2%;
}

.shares-section {
    /* border: 1px solid yellow; */
  display: flex;
  width: max-content;
  margin-right: 20%;
}

.playlist-section {
    /* border: 1px solid yellow; */
  display: flex;
  width: max-content;
  margin-right: 20%;
}

.scores-section {
    /* border: 1px solid yellow; */
  display: flex;
  width: max-content;
  margin-right: 20%;
}




/* SHARES VIEW DISPLAY */
main {
    background-color: #efefef;
}

h2 {
  color: #424242;
  font-size: 300%;
  padding : 2% 1% 0% 2%;
  margin: 0%;
}

.shares-view {
  /* background-color: #ffffff; */
  /* border: 1px solid black; */
  /* background-color: solid black; */
  /* display: flex;
  flex-direction: column; */
}

.cards-wrapper {
  /* border: 1px solid black; */
  padding: 1%;
}

/* CARD DISPALY VIEW */

.card-display {
  background-color: #ffffff;
  cursor: zoom-in;
}

.card-img {
  /* background-size: url('./assets/hanns-zimmer.jpg'); */
  /* background-size: 80%;
  background-repeat:  */
  /* background-repeat: no-repeat; */
  height: 22%;
  /* margin: 0%; */
}

.views-num {
  display: flex;
  align-items: center;
  /* background-image: url("./assets/hanns-zimmer.jpg"); */
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  width: 90%;
  /* border: 1px solid black; */
}

.name-date-info {
  margin: 5%;
  /* border: 1px solid black; */
}

.playlist-name {
  margin: 5%;
  /* border: 1px solid black; */
}

.url-addres {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  background-color: #efefef;
  width: 90%;
  height: 35px;
  margin: auto;
  paddin: 5%;
}

.followers {
  margin: 5%;
  /* margin: auto; */
  /* color: #2a759c;
  border: 1px solid black; */
}

.followers-num {
  margin: 5%;
  color: #2a759c;
  font-size: 200%;
}


/* HOVER */
.card-display:hover {
  background-color:  #F2F2F3;
  box-shadow: 7px 5px 3px 1px #26222d;
  margin: 5%;
  opacity: 0.9;
  width: 95%;
}

/* MEDIA QUERIES */

/* 1025px and higher desktops */
@media (min-width: 1025px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5%;
  }
}

/* 768px - 1024px | Tablets (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5%;
  }
}

/* 481px to 767px | Large Phones/Small Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1%;
  }
}

/* 320px to 480px | Small Phones */
@media  (min-width: 320px) and (max-width: 480px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1%;
  }
